@font-face{
    font-family: 'custom';
    src: url('Kwajong.ttf') format('truetype');
}

body{
    font-family: 'custom';
    font-size: 16px;
    background-image: url('pexels.jpg');
    background-size: auto;
}

#top{
    background-color: rgba(0, 139, 139, 0.6);
    border-width: 20px;
    border-style: solid;
    border-color: rgb(12, 71, 86);
    border-radius: 20px;
    padding: 1%;
    margin: 10%;
    margin-top: 7px;
    margin-bottom: 7px;
}

#bottom{
    background-color: rgba(0, 139, 139, 0.6);
    border-width: 20px;
    border-style: solid;
    border-color: rgb(12, 71, 86);
    border-radius: 20px;
    padding: 1%;
    margin: 10%;
    margin-top: 7px;
    margin-bottom: 7px;
}

span{color: rgb(88, 255, 88);}

h1{text-align: center;}
h2{text-align: center;}
p{text-align: center;}
td{padding: 1%;}
table{
    text-align: center;
    font-size: 1.2em;
    margin: auto;
}

#box{
    transform: scale(2);
    accent-color: rgb(88, 255, 88);
}
#btn{
    background-color: rgb(88, 255, 88);
    font-family: 'custom';
    font-size: 2em;
    border-radius: 10px;
}

.Z{
    font-family: 'custom';
    text-align: right;
    font-size: 1.2em;
}
.forms{
    font-family: 'custom';
    font-size: 1em;
    width: 40%;
}
